<div class="flow">
  <h5 class="card-header">Settings</h5>
  <div class="list-group">
    <ng-container *ngFor="let route of routes">
      <!-- <button
        role="tab"
        class="tabs__tab"
        routerLink="{{ route.path }}"
        [attr.aria-selected]="route.path === currentRoute"
      >
        {{ route.label }}
      </button> -->
      <a
        class="list-group-item list-group-item-action"
        routerLink="{{ route.path }}"
        [routerLinkActive]="'active'"
      >
        {{ route.label }}
      </a>
    </ng-container>
    <!-- 
    <a
      href="#"
      class="list-group-item list-group-item-action active"
      aria-current="true"
    >
      The current link item
    </a>
    <a href="#" class="list-group-item list-group-item-action"
      >A second link item</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >A third link item</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >A fourth link item</a
    >
    <a
      class="list-group-item list-group-item-action disabled"
      aria-disabled="true"
      >A disabled link item</a
    > -->
  </div>
</div>
