<div class="container">
  <div class="row">
    <div class="col-4">
      <h3 class="">My Profile</h3>
    </div>
    <div class="col-6"></div>
    <div class="col-2"></div>
    <div class="row">
      <div [formGroup]="passwordForm" class="mb-3">
        <form>
          <fieldset>
            <form-field>
              <div class="currentPassword">
                <label for="oldPassword" class="form-label"
                  >Current Password</label
                >
                <button
                  class="btn btn-link rounded-pill px-3"
                  [ngClass]="showCurrent ? 'is-shown' : 'is-hidden'"
                  type="button"
                  (click)="toggleShowCurrent()"
                >
                  <span [textContent]="showCurrent ? 'Hide' : 'Show'"></span>
                </button>
              </div>
              <input
                class="form-control"
                [type]="showCurrent ? 'text' : 'password'"
                id="oldPassword"
                formControlName="oldPassword"
              />
            </form-field>
            <form-field>
              <div class="newPassword">
                <label for="newPassword" class="form-label">New Password</label>
                <button
                  class="btn btn-link rounded-pill px-3"
                  [ngClass]="showNew ? 'is-shown' : 'is-hidden'"
                  type="button"
                  (click)="toggleShowNew()"
                >
                  <span [textContent]="showNew ? 'Hide' : 'Show'"></span>
                </button>
              </div>
              <input
                class="form-control"
                [type]="showNew ? 'text' : 'password'"
                id="newPassword"
                formControlName="newPassword"
              />
            </form-field>
            <form-field>
              <div class="newPassword">
                <label for="confirmPassword" class="form-label"
                  >Confirm Password</label
                >
                <button
                  class="btn btn-link rounded-pill px-3"
                  [ngClass]="showConfirm ? 'is-shown' : 'is-hidden'"
                  type="button"
                  (click)="toggleShowConfirm()"
                >
                  <span [textContent]="showConfirm ? 'Hide' : 'Show'"></span>
                </button>
              </div>
              <input
                class="form-control"
                ngClass="{'is-invalid': !passwordForm.confirmPassword.invalid}"
                [type]="showConfirm ? 'text' : 'password'"
                id="confirmPassword"
                formControlName="confirmPassword"
              />
              <div class="invalid-feedback">Please choose a username.</div>
            </form-field>
            <div
              class="notification"
              data-type="negative"
              *ngIf="!!message && error"
            >
              <span>{{ message }}</span>
            </div>
            <div
              class="notification"
              data-type="positive"
              *ngIf="!!message && !error"
            >
              <span>{{ message }}</span>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="passwordForm.invalid"
    (click)="savePassword()"
  >
    Submit
  </button>
</div>
